<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Haussteuerung.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Haussteuerung.Properties.Settings>
            <setting name="kitchen_soll" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="kitchen_type" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="kitchen_date" serializeAs="String">
                <value>2018-01-10</value>
            </setting>
            <setting name="living_soll" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="living_type" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="living_date" serializeAs="String">
                <value>2018-01-10</value>
            </setting>
            <setting name="bathbot_soll" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="bathbot_type" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="bathbot_date" serializeAs="String">
                <value>2018-01-10</value>
            </setting>
            <setting name="corridor_soll" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="corridor_type" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="corridor_date" serializeAs="String">
                <value>2018-01-10</value>
            </setting>
            <setting name="office_soll" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="office_type" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="office_date" serializeAs="String">
                <value>2018-01-10</value>
            </setting>
            <setting name="bathtop_soll" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="bathtop_type" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="bathtop_date" serializeAs="String">
                <value>2018-01-10</value>
            </setting>
            <setting name="parents_soll" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="parents_type" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="parents_date" serializeAs="String">
                <value>2018-01-10</value>
            </setting>
            <setting name="stefan_soll" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="stefan_type" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="stefan_date" serializeAs="String">
                <value>2018-01-10</value>
            </setting>
            <setting name="andrea_soll" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="andrea_type" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="andrea_date" serializeAs="String">
                <value>2018-01-10</value>
            </setting>
        </Haussteuerung.Properties.Settings>
    </userSettings>
</configuration>